*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-weight: 400;
	color: #252B42;
	font-family: Lato;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
} 
._container {
	max-width: 1140px;
	padding: 0 16px;
	margin: 0 auto;
	box-sizing: content-box;
}

/*==================HEADER==================*/
.header {
	padding: 0 32px;
	height: 75px;
	background: #222222;
	max-width: 100%;
}
.menu {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu__left-block {
	display: flex;
	align-items: center;
}
.menu__left-block_item:hover {
	color: #F16D7F;
}
.menu__left-block :not(:last-child) {
	margin-right: 41px;
}
.menu__left-block_item {
	font-size: 25px;
	color: #E8E8E8;
	background: none;
}
.menu__right-block {
	display: flex;
	align-items: center;
}
.menu__right-block_item:hover {
	color: #F16D7F;
}
.menu__right-block :not(:first-child) {
	margin-left: 33px;
}
.menu__right-block_item {
	font-size: 23px;
	color: #E8E8E8;
	background: none;
}
@media (max-width: 650px) {
	._item-hide {
		display: none;
	}
	.header {
		padding: 0;
	}
}

/*-----------------BURGER-MENU------------------*/
.burger-menu {
	position: absolute;
	right: 0;
	background: #FFFFFF;
	padding: 16px 17px 0 33px;
	width: 182px;
	height: 748px;
	display: flex;
	flex-direction: column;
	z-index: 100;
}
.burger-menu__top {
}
._icon-close {
	align-self: flex-end;
	font-size: 12px;
	color: #6F6E6E;
	background: none;
}
._icon-close:hover {
	color: #F16D7F;
}
.burger-menu__title {
	font-weight: 900;
	font-size: 14px;
	line-height: 120%;
	color: #000000;
	margin-top: 9px;
	margin-bottom: 4px;
}
.burger-menu__section {
	margin-top: 20px;
	font-size: 14px;
	line-height: 120%;
	color: #F16D7F;
	margin-bottom: 13px;
}
.burger-menu__list {
}
.burger-menu__list > li {
	margin-bottom: 12px;
	margin-left: 21px;
}
.burger-menu__list > li > a {
	font-size: 14px;
	line-height: 120%;
	color: #6F6E6E;
}
.burger-menu__list > li > a:hover {
	color: #F16D7F;
}
._hide-burger-menu {
	display: none;
}

/*==================CATALOG====================*/
.catalog {
}

/*----------------CATALOG-TOP-----------------*/
.catalog__top {
	background: #F8F3F4;
}
.catalog__top-container {
	height: 148px;
	display: flex;
	align-items: center;
}
.catalog__new-arrivals {
	font-size: 24px;
	line-height: 120%;
	color: #F16D7F;
}
@media (max-width: 767px) {
	.catalog__top-container {
		justify-content: center;
	}
}

/*------------------MAIN-INFO---------------------*/
.main-info {
}

/*---------------REGISTRATION-FORM----------------*/
.main-info__form {
	display: flex;
	justify-content: space-between;
}
.cart-form {
	display: flex;
	flex-direction: column;
	margin-top: 70px;
	margin-right: 20px;
}
.cart-form > input {
	max-width: 341px;
	height: 43px;
	border: 1px solid #A4A4A4;
	margin-top: 20px;
	padding-left: 17px;
}
.cart-form > input::placeholder {
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
	color: #B1B1B1;
}
.cart-form > p {
	font-weight: 300;
	font-size: 13px;
	line-height: 115%;
	color: #B1B1B1;
	max-width: 360px;
	margin-top: 16px;
}
.cart-form > label {
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #222222;
}
.cart-form > button {
	line-height: 115%;
	color: #FFFFFF;
	width: 167px;
	height: 50px;
	background: #F16D7F;
	margin-top: 40px;
}
.cart-form > button:hover {
	background: #f38392;
}
.main-info__form-radio {
	display: flex;
	margin-top: 31px;
	margin-bottom: 35px;
	font-weight: 300;
	font-size: 11px;
	line-height: 115%;
	color: #000000;
}
.main-info__form-radio :not(:last-child) {
	margin-right: 20px;
}
._icon-arrow-big {
	font-size: 10px;
	padding-left: 20px;
}
._hide-radio {
	display: none;
}


/*--------------REGISTRATION-INFO-----------------*/
.registration-info {
	display: flex;
	flex-direction: column;
}
.registration-info > ul {
	margin-top: 24px;
}
._icon-done {
	display: flex;
	align-items: center;
	font-size: 16px;
	color: #000000;
	margin-bottom: 16px;
}
._icon-done:last-of-type {
	margin-bottom: 0;
}
._icon-done > span {
	font-weight: 300;
	font-size: 24px;
	line-height: 140%;
	color: #000000;
	margin-left: 23px;
}
.registration-info__title {
	font-weight: 300;
	font-size: 24px;
	line-height: 120%;
	color: #000000;
	margin-top: 70px;
}
.registration-info__text {
	max-width: 652px;
	font-weight: 300;
	font-size: 24px;
	line-height: 115%;
	color: #000000;
	margin-top: 25px;
}

@media (max-width: 940px) {
	.registration-info__title {
		font-weight: 300;
		font-size: 16px;
		color: #000000;
	}
	.registration-info__text {
		font-weight: 300;
		font-size: 16px;
		color: #000000;
	}
	._icon-done > span {
		font-weight: 300;
		font-size: 16px;
		color: #000000;
	}
	._hide-radio {
		display: block;
	}
	.registration-info__title {
		margin-top: 40px;
	}
	.cart-form {
		margin-top: 40px;
	}
}

@media (max-width: 700px) {
	.main-info__form {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cart-form {
		margin-right: 0;
	}
}
@media (min-width: 700px) {
	.cart-form > input {
		width: 341px;
	}
	.cart-form > p {
		width: 360px;
	}
}

/*=================FOOTER=======================*/
.footer {
}

/*------------------SUBSCRIBE------------------*/
.subscribe {
	background-image: linear-gradient(180deg,rgba(243, 243, 243, 0.699),rgba(243, 243, 243, 0.692)),url(../images/footer-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom;
	margin-top: 96px;
}
.container__subscribe {
	height: 448px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.subscribe__block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.subscribe__block p {
	max-width: 360px;
}
.subscribe__block-text {
	font-size: 20px;
	line-height: 120%;
	color: #222224;
	margin-top: 30px;
	height: 99px;
}
.subscribe__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #222224;
}
.subscribe__2nd-string {
	font-weight: 400;
	font-size: 18px;
	line-height: 166%;
	color: #222224;
}
.subscribe-block__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 32px;
	width: 557px;
}
.subscribe__input {
	height: 35px;
	background: #E1E1E1;
	border-radius: 24px 0 0 24px;
	padding: 7px 64px 7px 22px;
	width: 170px;
}
.subscribe__button {
	height: 49px;
	font-size: 14px;
	line-height: 121%;
	padding: 0 20px;
	border-radius: 0px 24px 24px 0px;
	display: flex;
	align-items: center;
	text-align: center;
	background: #E05C6E;
	color: #FFFFFF;
}
.subscribe__button:hover {
	background: #ee7686;
}
@media (max-width: 768px) {
	.container__subscribe {
		height: 693px;
		flex-direction: column;
	}
	.subscribe-block__button {
		margin-bottom: 140px;
	}
	.subscribe__block img {
		margin-top: 60px;
	}
	.subscribe {
		background-position: 20% 0;
	}
}
@media (max-width: 370px) {
	.subscribe__2nd-string {
		font-size: 15px;
	}
	.subscribe__title {
		font-weight: 700;
		font-size: 22px;
	}
	.subscribe__input {
		padding: 7px 34px 7px 22px;
		width: 140px;
	}
}

/*==================SOCIALS=====================*/
.footer__socials {
	background: #222224;
}
.socials__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 79px;
}
._container {
}
.footer__copy {
	font-size: 16px;
	line-height: 118%;
	color: #FBFBFB;
}
.socials__block {
	display: flex;
}
.socials__block :not(:last-child) {
	margin-right: 7px;
}
.social__item {
	height: 32px;
	width: 32px;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
}
.social__item:hover {
	background: #F16D7F;
	color: #FFFFFF;
}
._icon-facebook ._icon-inst ._icon-pinterest ._icon-twitter {
	font-weight: 900;
}
@media (max-width: 650px) {
	.socials__content {
		height: 143px;
		flex-direction: column-reverse;
		justify-content: space-around;
	}
	.socials__block {
		margin-top: 30px;
	}
}


